@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .placeholder-italic::placeholder {
      font-style: italic;
    }
  }

  .active {
    /* background-color: base;    */
    /* style for active link background */
    /* color: blue; */
    text-decoration: underline;
    text-decoration-color: oklch(var(--a));
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
  }

  .enlarged {
    transform: scale(1.5);
    transition: transform 0.5s ease;   
  }

  .hover-overlay {
    @apply absolute top-0 left-0 w-full h-full bg-gray-800 opacity-0 transition-opacity ease-in-out;
  }
  
  .hover-overlay:hover {
    @apply opacity-75;
  }

  .text-outline {
    -webkit-text-stroke: 1px black;
  }

  @media (max-width: 300px) {
    .zoomable {
      zoom: 0.8; 
  }
  }
  @media (min-width: 300px) {
    .zoomable {
      zoom: 0.8; 
  }
  }
  @media (min-width: 500px) {
    .zoomable {
      zoom: 0.9; 
  }
  }
  @media (min-width: 800px) {
    .zoomable {
      zoom: 1; 
    }
  }
  /* @media (min-width: 1000px) {
    .zoomable {
      zoom: 1; 
    }
  } */
