@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .placeholder-italic::placeholder {
      font-style: italic;
    }
  }

  .active {
    /* background-color: base;    */
    /* style for active link background */
    /* color: blue; */
    text-decoration: underline;
    text-decoration-color: oklch(var(--a));
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
  }

  .text-outline {
    -webkit-text-stroke: 1px black;
  }

  @media (max-width: 300px) {
    .zoomable {
      zoom: 0.8; 
  }
  }
  @media (min-width: 300px) {
    .zoomable {
      zoom: 0.8; 
  }
  }
  @media (min-width: 500px) {
    .zoomable {
      zoom: 0.9; 
  }
  }
  @media (min-width: 800px) {
    .zoomable {
      zoom: 1; 
    }
  }
  /* @media (min-width: 1000px) {
    .zoomable {
      zoom: 1; 
    }
  } */
